PORT=5000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=shopmaster_db

JWT_SECRET=super_secret_jwt_access_key_shopmaster_2026_enterprise_98765
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_jwt_refresh_key_shopmaster_2026_enterprise_12345
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
